<section>
  <div class="deadlines">
    <h1><%= t('new_deadline') %></h1>
    <div class="page__top">
      <%= button_to(t("back"), deadlines_path, method: :get, class: "btn btn-primary back__btn") %>
    </div>
    <%= render partial: "form", locals: { deadline: @deadline } %>
  </div>
</section>