<nav class="navbar flex-column header__top">
  <div class="container-fluid">
    <div>
      <h2><%= link_to t('logistics'), root_path, class: "navbar-brand" %></h2>
    </div>
    <div class="">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to t('log_in'), new_user_session_path %></li>
      </ul>
    </div>
  </div>
</nav>