<section class="modes">
  <div class="modes__title">
    <h1><%= t('modes') %></h1>
    <p><%= link_to t('new_mode'), new_mode_path %></p>
  </div>
  <div class="modes__list">
    <% @modes.each do |mode| %>
      <div>
        <h3><%= link_to mode.name, root_path %></h3>
      </div>
    <% end %>
  </div>
</section>