<section>
  <div class="vehicles">
    <h1><%= t('edit') << " " << t('vehicle') %></h1>
    <div class="page__top">
      <%= button_to(t("back"), vehicles_path, method: :get, class: "btn btn-primary back__btn") %>
    </div>
    <%= render partial: "form", locals: { vehicle: @vehicle } %>
  </div>
</section>