<section>
  <div class="vehicles">
    <h1><%= t('new_vehicle') %></h1>
    <%= button_to(t("back"), vehicles_path, method: :get, class: "btn btn-primary vehicles__btn") %>
    <%= render partial: "form", locals: { vehicle: @vehicle } %>
  </div>
</section>