.header__vertical {
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 32px 18px !important;
}

.header__logout {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 32px 18px !important;
}

.main__login {
  width: 100vw !important;
  padding-left: 220px !important;
  margin-bottom: 300px;
}

.header__vertical-logout:hover {
  width: 100%  !important;
}

.fa {
  font-size: 1.1em;
}

.nav-item {
  padding: 6px 0 !important;
}

a.logo {
  font-size: 2.2em;
  font-weight: 900;
  text-decoration: uppercase;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: -15px !important;
}

a.logo2 {
  font-size: 1.3em;
  font-weight: 900;
  text-decoration: uppercase;
  font-style: italic;
}

.ui-effects-wrapper {
  display:inline;
}

section {
  margin: 30px !important;
}

section h1 {
  padding-bottom: 15px !important;
}

table {
  margin-top: 30px !important;
}

table {
  text-align: center;
}

table th {
  vertical-align: middle;
}

.ativo {
  background-color: green;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.inativo {
  background-color: red;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.transito {
  background-color: orange;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.modes__form, 
.vehicles__form,
.prices__form,
.deadlines__form,
.users__info {
  max-width: 500px;
}

.modes__btn-bottom,
.vehicles__btn-bottom,
.prices__btn-bottom,
.deadlines__btn-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 !important;
}

input[value="Salvar"] {
  margin-top: 20px !important;
}

input[type="submit"], button[type="submit"] {
  width: 130px !important;
}

button.prices__btn,
button.deadlines__btn {
  width: 80px !important;
}

section.back a.btn {
  width: 130px !important;
}

.notice, .messages {
  margin: 20px !important;
}

.messages {
  left: -20px !important;
  max-width: 500px !important;
}

section div h3 {
  padding-top: 20px !important;
  margin-bottom: -20px !important;
}

div h5 {
  margin: 50px 0 !important;
}

section div.login {
  width: 400px !important;
  background: #ccc;
  padding: 30px 40px !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px 8px !important;
}

section div.login input, section div.login h2 {
  margin-bottom: 20px !important;
}

nav div ul li a {
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none !important;
  color: white !important;
}

table.addresss__form tr:nth-child(3) td {
  display: flex;
  justify-content: space-between;
}

table.addresss__form tr:nth-child(3) td input {
  width: 85% !important;
  margin-right: 10px !important;
}

table.addresss__form tr:nth-child(3) td select {
  width: 15% !important;  
}

h2.accordion-header button {
  background: #dedede !important;
  font-size: 1.4rem !important;
}

div.order__form {
  margin-top: 30px !important;
}

table.product__form tr td {
  width: 80px !important;
}

div.orders__status {
  margin-bottom: 20px !important;
}

div.btn__bottom {
  display: flex;
  justify-content: start;
  margin-top: 20px !important;
}

div.btn__bottom button {
  margin-right: 10px !important;
}

div.btn__bottom button.orders__btn-budget {
  width: 210px !important;
}

div.orders__btn-budget input[type="submit"] {
  margin: 10px 0 !important;
  width: 260px !important;
}

div.btn__new button {
  width: 180px !important;
}

div.orders__addresses {
  display: flex;
  justify-content: space-between;
}

div.orders__addresses div {
  width: 48% !important;
}

div.orders__products button.nav-link.active {
  background: #888 !important;
  color: white !important;
}

div.orders__products button.nav-link {
  border: 1px solid #888 !important;
}

div.form-check {
  display: flex;
  justify-content: center;
}

div.form-check input {
  border: 1px solid #666;
}

div.budget__form h3 {
  margin: 10px 0 !important;
}