header {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 32px 18px !important;
}

.header__vertical {
  height: 100vh;
}

.main__login {
  /* height: 100%;
  display: flex;
  justify-content: center;
  align-itens: center; */
}

.main__block {
  margin-left: 280px !important;
  margin-bottom: 300px;
}

.header__vertical-logout:hover {
  width: 100%  !important;
}

.fa {
  font-size: 1.1em;
}

.nav-item {
  padding: 6px 0 !important;
}

a.logo {
  font-size: 2.2em;
  font-weight: 900;
  text-decoration: uppercase;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: -15px !important;
}

.ui-effects-wrapper {
  display:inline;
}

section {
  margin: 30px !important;
}

section h1 {
  padding-bottom: 15px !important;
}

table {
  margin-top: 30px !important;
}

table {
  text-align: center;
}

table th {
  vertical-align: middle;
}

.ativo {
  background-color: green;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.inativo {
  background-color: red;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
}

.modes__form, 
.vehicles__form,
.prices__form,
.deadlines__form,
.users__info {
  max-width: 500px;
}

.modes__btn-bottom,
.vehicles__btn-bottom,
.prices__btn-bottom,
.deadlines__btn-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 !important;
}

input[value="Salvar"] {
  margin-top: 20px !important;
}

input[type="submit"], button[type="submit"] {
  width: 130px !important;
}

button.prices__btn,
button.deadlines__btn {
  width: 80px !important;
}

section.back a.btn {
  width: 130px !important;
}

.notice, .messages {
  margin: 20px !important;
}

.messages {
  left: -20px !important;
  max-width: 500px !important;
}

section div h3 {
  padding-top: 20px !important;
  margin-bottom: -20px !important;
}

div h5 {
  margin: 30px 0 !important;
}

section div.login {
  width: 400px !important;
  background: #ccc;
  padding: 30px 40px !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px 8px !important;
}

section div.login input, section div.login h2 {
  margin-bottom: 20px !important;
}